.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  resize:vertical;
  overflow:auto;
  width: 100%;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  max-width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.editor-class {
  background-color:lightgray;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 83%;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.preview {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  width: 1033px;
  background-color:rgba(31, 31, 31, 0.417);
  text-align: left;
}

@media screen and (max-width: 1033px) {
  .preview{
    width: 100%;
  }
}

